.navbar li {
  list-style-type: square;
}
.navbar {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: red;
    }
}