@import '../../globalVariables';

.navbar {
    ul {
        display: flex;
        background-color: $background-color-primary;
        margin-top: 0px;

        .logo {
            justify-content: flex-start;
            margin-right: 600px;
        }

        li {
            justify-content: flex-end;
            align-items: center;
            list-style-type: none;
            padding-top: 18px;
            margin-top: 0px;
            margin: 0 10px;
            background-color: $color-primary;
            border-radius: 100px;
        }
    }
}